name: Employee Management CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get code from GitHub
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t employee-management-app .
